body {
    background: #1d2630;
}

* {
    color: #fff;
}

#btnAtualizar,
#btnCancelar {
    display: none;
    flex-direction: column;
}

#btnCancelar {
    margin-top: 10px;
}

h2 {
    text-align: center;
}
